<p-menubar [model]="items" styleClass="navbar-custom">
  <ng-template pTemplate="start">
    <div class="logo-container">
      <i class="pi pi-building logo-icon"></i>
      <span class="logo-text">Reserva de Espacios</span>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="navbar-end">
      <div *ngIf="estaAutenticado" class="usuario-badge">
        <i class="pi pi-user"></i>
        <span>{{ nombreUsuario }}</span>
      </div>

      <p-button 
        *ngIf="!estaAutenticado"
        label="Iniciar Sesión"
        icon="pi pi-sign-in"
        (onClick)="irIniciarSesion()"
        [outlined]="true"
        styleClass="btn-login"
      ></p-button>

      <p-button 
        *ngIf="!estaAutenticado"
        label="Registrarse"
        icon="pi pi-user-plus"
        (onClick)="irRegistro()"
        styleClass="btn-register"
      ></p-button>

      <p-button 
        *ngIf="estaAutenticado"
        label="Cerrar Sesión"
        icon="pi pi-sign-out"
        (onClick)="cerrarSesion()"
        severity="danger"
        styleClass="btn-logout"
      ></p-button>
    </div>
  </ng-template>
</p-menubar>